<nav class="navbar navbar-default navbar-fixed-top navbar-inner" role="navigation">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <li class="navbar-text"><%= link_to "art's fishing club", root_path, class: "navbar-brand" %>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
       
      </ul>
      
      <ul class="nav navbar-nav navbar-right">
        <li class="navbar-text"><%= link_to "About", about_path %></li>
        <li class="navbar-text"><%= link_to "Photographs", photographs_path %></li>
        <li class="navbar-text"><%= link_to "Tunes", tunes_path %></li>
        <li class="navbar-text"><%= link_to "Dates", dates_path %></li>

        <% if user_signed_in? %>
          <li class="navbar-text"><%= link_to new_pin_path do %>New Pin           
          <% end %>
        </li>
          <li class="navbar-text"><%= link_to "Account Settings", edit_user_registration_path %></li>
          <li class="navbar-text"><%= link_to "Log Out", destroy_user_session_path, method: :delete %></li>
        <% else %>
          <li class="navbar-text"><%= link_to "Sign in", new_user_session_path %></li>
        <% end %>

      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>